/* ===========================
   CAMPAIGN SECTION
=========================== */
.campaigns-section {
  padding: 80px 0;
}

.campaigns-title {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

.campaigns-wrapper {
  min-height: 700px;
}

.campaign-subtitle {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 12px;
}

.campaign-text {
  font-size: 13px;
  line-height: 1.8;
  color: #222;
  max-width: 350px;
}

.campaign-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.campaign-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.campaign-visual {
  position: absolute;
  inset: 0;
  background: url("../Assets/Images/campaign-banner2.png") center/contain
    no-repeat;
  pointer-events: none;
}

.btn-dark .secondary-btn {
  background: #242322;
  font-size: 14px;
  font-weight: 500;
}

/* ===========================
   INITIATIVE SECTION
=========================== */
.initiative-section {
  padding: 200px 0;
}

.initiative-left h2,
.initiative-right h2 {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 12px;
}

.initiative-left p,
.initiative-right p {
  font-size: 13px;
  line-height: 1.6;
}

.initiative-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* .initiative-circle {
  display: flex;
  align-items: flex-end;
} */

.initiative-right {
  padding-top: 8px;
}

.initiative-model {
  max-width: 317px;
  /* height: 554px; */
  position: relative;
}

.initiative-dance {
  max-width: 317px;
  /* height: 317px; */
  position: absolute;
  right: -83%;
  bottom: 0;
}

.section-heading {
  font-size: 36px;
  font-weight: 800;

  letter-spacing: 6px;
  text-transform: uppercase;

  position: absolute;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
  width: 180%;
  text-align: center;

  background-image:
    linear-gradient(90deg, #000 0%, #000 42%, rgba(0, 0, 0, 0.1) 44%, #000 78%),
    url("../Assets/Images/banner-img.png");

  background-repeat: no-repeat;

  background-size: 1200px auto;
  background-position: center 54%;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  z-index: 3;
}

/* ===========================
    PRESS SECTION
=========================== */
.press-section {
  padding: 20px 0 100px;
}

.press-title {
  font-size: 32px;
}

.press-intro {
  max-width: 1128px;
  font-size: 15px;

  margin-bottom: 50px;
  color: #222;
}

.press-list {
  max-width: 1128px;
}

.press-item blockquote {
  font-size: 15px;

  margin: 0 0 5px 0;
  color: #222;
}

.press-item cite {
  font-size: 15px;
  color: #555;
}

@media screen and (max-width: 992px) {
  /* CAMPAIGN SECTION     */
  .campaign-left,
  .campaign-right {
    position: static;
    max-width: 100%;

    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .campaign-visual {
    position: relative;
    height: 420px;
    margin: 40px 0;
    background-size: contain;
  }

  .campaigns-wrapper {
    min-height: auto;
  }

  /* INITIATIVE SECTION */
  .section-heading {
    position: static;
    transform: none;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .initiative-left,
  .initiative-right {
    margin-top: 30px;
    text-align: left;
  }

  .initiative-circle {
    margin-top: 30px;
  }
}

@media screen and (max-width: 576px) {
  /* PRESS SECTION  */

  .press-intro,
  .press-item blockquote {
    font-size: 14px;
  }
}
