/* ===============================
   FAQ SECTION
================================ */

body {
  background: black;
}

.faq-section {
  background: white;
  padding: 80px 0 0;
}

.faq-title {
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: 500;
}

.faq-subtitle {
  font-size: 14px;
  color: #777;
}

/* Accordion base reset */
.faq-accordion .accordion-item {
  border: none;
  border-bottom: 1px solid #cfcfcf;
}

.faq-accordion .accordion-button {
  background: transparent;
  box-shadow: none;
  padding: 20px 0;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #000;
}

/* Remove default arrow */
.faq-accordion .accordion-button::after {
  background-image: none;
  content: "+";
  font-size: 18px;
  transform: none;
}

/* Change + to - when open */
.faq-accordion .accordion-button:not(.collapsed)::after {
  content: "−";
}

.faq-accordion .accordion-body {
  padding: 0 0 20px 0;
  font-size: 15px;
  color: #444;
  line-height: 1.6;
}

.faq-image {
  max-width: 786px;
}

.faq-image {
  transition: transform 0.6s ease, filter 0.6s ease;
}

.faq-image:hover {
  transform: scale(1.05);
  filter: brightness(1.05);
}
.faq-model {
  overflow: hidden;
}

.faq-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ===============================
  FOOTER SECTION
================================ */
.campaign-split-footer {
  background-color: #000;
  background-image: url("../Assets/Images/footer-background.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  display: flex;
  overflow: hidden;
  color: #fff;
}

.campaign-footer-title {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  text-align: center;
}

.campaign-split-content {
  padding-left: 80px;
}

.campaign-footer-newsletter {
  width: 100%;
  max-width: 520px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.campaign-footer-form {
  position: relative;
  width: 100%;

  padding: 36px;
  border-radius: 20px;
  background-color: rgba(217, 217, 217, 0.01);
  box-shadow: inset 0 10px 10px #a9a6a4;
  backdrop-filter: blur(40px);
}

.campaign-footer-input {
  background: #f7f3f0;
  border: none;
  border-radius: 10px;
  padding: 14px 16px;
  font-size: 14px;
}

.campaign-footer-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.25);
}

.campaign-footer-group {
  column-gap: 50px;
}

.campaign-footer-label {
  font-size: 12px;
  letter-spacing: 1.2px;
  font-weight: 500;
  color: #ffffff;
}

.campaign-footer-links a {
  font-size: 12px;
  font-weight: 300;
  color: #cfcfcf;
  text-transform: uppercase;
  position: relative;
  transition: color 0.3s ease;
}

.campaign-footer-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 1px;
  background: #ffffff;
  transition: width 0.3s ease;
}

.campaign-footer-links a:hover {
  color: #ffffff;
}

.campaign-footer-links a:hover::after {
  width: 100%;
}

.campaign-footer-copy {
  font-size: 8px;
  font-weight: 500;
  color: #ffffff;
  padding-top: 20px;
}

.campaign-split-image {
  position: relative;
  width: 50%;
}

.campaign-split-image img {
  position: absolute;
  width: 100%;
}

.campaign-split-content {
  width: 50%;
  padding: 120px 80px 60px;
}

/* ===============================
   RESPONSIVE
================================ */
@media screen and (max-width: 992px) {
  .campaign-footer-newsletter {
    margin-bottom: 30px;
  }

  .campaign-split-footer {
    justify-content: center;
  }

  .campaign-split-image {
    display: none;
  }

  .campaign-split-content {
    padding: 80px 24px 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .campaign-split-image img {
    display: none;
  }

  .footer-form {
    width: 100%;
    max-width: 520px;
  }

  .footer-title {
    position: static;
    transform: none;
    margin-bottom: 24px;
    text-align: center;
  }

  .footer-inner {
    gap: 40px;
  }

  .footer-bottom {
    margin-top: 60px;
  }

  .footer-label {
    display: block;
    margin-bottom: 10px;
  }
  .campaign-footer-copy {
    margin-top: 10px;
  }
}
